<?xml version="1.0"?>
<launch>

  <!-- Launch Send_UGV_waypoints.py -->
  <node name="ugv_waypoint" pkg="arl" type="send_ugv.py" output="screen" >
  <param name="wait_time" value="5.0" />
  </node>
    <!-- Launch send_UAV_waypoints.py -->
  <node name="setpoint_node" pkg="arl" type="run_arm_and_offboard.py" output="screen" depends="ugv_waypoint">
  </node>
  <node name="uav_waypoint" pkg="arl" type="send_uav.py" output="screen" depends="ugv_waypoint">
  </node>
</launch>

