<launch>
    <!-- Run navsat gps to odometry conversion-->
  <include file="$(find jackal_navigation)/launch/start_navsat.launch" />

    
    <!-- Run the ekf for map to odom config -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_with_gps"> 
    <rosparam command="load" file="$(find jackal_navigation)/params/robot_localization_with_gps.yaml" />
  </node>


    <!-- Run the map server -->
    <arg name="map_file" default="$(find jackal_navigation)/maps/mymap_empty.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    
    <!--- Run Move Base -->
    <include file="$(find jackal_navigation)/launch/with_map_move_base.launch" />
 

    <!-- Start RVIZ for Localization -->
    <include file="$(find jackal_navigation)/launch/view_robot.launch">
        <arg name="config" value="localization" />
    </include>

</launch>