<?xml version="1.0"?>
<launch>

  <!-- Launch Send_UGV_waypoints.py -->
  <node name="ugv_waypoint" pkg="arl" type="send_ugv.py" output="screen" >
  <!-- <param name="wait_time" value="2.0" /> -->
  </node>
    <!-- Launch send_UAV_waypoints.py -->
  <node name="setpoint_node" pkg="arl" type="run_arm_and_offboard.py" output="screen">
  </node>
  <node name="uav_waypoint" pkg="arl" type="send_uav.py" output="screen" >
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find arl)/rviz/rviz_tmp_odom.rviz"/>
    <node pkg="tf" type="static_transform_publisher" name="odom_world_transform" args="0 0 0 0 0 0 /world /odom 10"/>
  <node pkg="tf" type="static_transform_publisher" name="map_world_transform" args="0 1 0 0 0 0 /world /map 10"/>
  <node pkg="tf" type="static_transform_publisher" name="ugv_trajectory_transform" args="0 0 0 0 0 0 /world /ugv_trajectory 10"/>
  <node pkg="tf" type="static_transform_publisher" name="uav_trajectory_transform" args="0 1 0 0 0 0 /world /uav_trajectory 10"/>

</launch>

